<div class="kids">
  <h2 class="text-align-left" style="margin-left:7%;">Kid</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>

<div class="family-dashboard container form-newchild">
  <%= simple_form_for [@family, @child] do |f| %>
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :gender, collection: Child.genders, required: true %>
    <%= f.input :photo, required: true, class: "upload-picture" %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: "ghost-button-btn-newchild" %>
  <% end %>
</div>
