<% content_for :title, "OurKids - Your families" %>

<div class="kids">
  <% if @families.empty? %>
  <h2 class="text-align-left" style="margin-left:7%;">Family</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
  <div class= "family-dashboard">
    <%= link_to 'Add a Family', families_coparent_path, class: 'ghost-button-btn' %><br>
    <br>
    <%= link_to 'Invite a Co-parent', new_family_path, class: 'ghost-button-green' %>
  </div>

  <% else %>
  <h2 class="text-align-left" style="margin-left:7%;">Families</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
</div>

<div class= "family-dashboard">
  <% @families.each do |family| %>
    <div class="family-index-dashboard">
      <%= link_to family_path(family) do %>
      <h3>
        <%= "#{family.parent.first_name} and #{family.coparent.first_name}'s family" %>
      </h3>
      <div class="index-kids">
      <% family.children.each do |child| %>
      <%= cl_image_tag child.photo, class: 'avatar-medium' %>
      <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
