<div class="kids">
    <h2 class="text-align-left"><i class="fas fa-chevron-left"></i>The Kids</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
</div>

  <div class= "family-dashboard">
    <div class="families" style="display: flex; overflow-x: auto">
        <% @family.children.each do |child| %>
        <%= cl_image_tag child.photo, class: "avatar-Xlarge"%>
        <% end %>
         <%= link_to '+', families_coparent_path, class: 'round-btn-new' %>
      </div>
    </div>
  </div>

  <div class="latest">
    <h2 class="text-align-left"></i>Latest</h2>
      <div class="thin-div">
        <div class="large-div">
        </div>
      </div>

      <div class="card-latest">
        <div class=card-title>
          <h4>Title</h4>
        </div>
        <div class="card-wrapper">
          <p>Description</p>
          <p>+350€</p>
        </div>
          <%= cl_image_tag current_user.photo, class: "avatar-small"%>
          <%= cl_image_tag current_user.photo, class: "avatar-small"%>
          <%= cl_image_tag current_user.photo, class: "avatar-small"%>
      </div>
      <div class="card-latest">
        <h4>Added Expense</h4>
      </div>
      <div class="card-latest">
        <h4>Payed Expense</h4>
      </div>
      <div class="card-latest">
        <h4>Added Expense</h4>
      </div>
</div>

