<div class="kids">
    <h2 class="text-align-left"><i class="fas fa-chevron-left"></i>The Kids</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
</div>

  <div class= "family-dashboard">
    <div class="families">
        <% @family.children.each do |child| %>
        <%= cl_image_tag child.photo, class: "avatar-Xlarge"%>
        <% end %>
        <div class="button-kid">
          <%= link_to '+', families_coparent_path, class: 'round-btn-kid' %>
        </div>
      </div>
    </div>
  </div>

  <div class="latest">
    <h2 class="text-align-left"></i>Latest</h2>
      <div class="thin-div">
        <div class="large-div">
        </div>
      </div>

      <div class="card-latest">
        <div class="category">
          <img src="https://img.icons8.com/ios/35/000000/students.png">
        </div>
        <div class=card-title>
          <h4>Title</h4>
        </div>
        <div class="card-wrapper">
          <p>Description</p>
          <p style="margin-left:20px; margin-right:65px;">+350€</p>
        </div>
        <ul class="card-avatar">
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
        </ul>
      </div>
            <div class="card-latest">
        <div class="category">
          <img src="https://img.icons8.com/ios/35/000000/students.png">
        </div>
        <div class=card-title>
          <h4>Title</h4>
        </div>
        <div class="card-wrapper">
          <p>Description</p>
          <p style="margin-left:20px; margin-right:65px;">+350€</p>
        </div>
        <ul class="card-avatar">
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
        </ul>
      </div>
            <div class="card-latest">
        <div class="category">
          <img src="https://img.icons8.com/ios/35/000000/students.png">
        </div>
        <div class=card-title>
          <h4>Title</h4>
        </div>
        <div class="card-wrapper">
          <p>Description</p>
          <p style="margin-left:20px; margin-right:65px;">+350€</p>
        </div>
        <ul class="card-avatar">
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
        </ul>
      </div>
            <div class="card-latest">
        <div class="category">
          <img src="https://img.icons8.com/ios/35/000000/students.png">
        </div>
        <div class=card-title>
          <h4>Title</h4>
        </div>
        <div class="card-wrapper">
          <p>Description</p>
          <p style="margin-left:20px; margin-right:65px;">+350€</p>
        </div>
        <ul class="card-avatar">
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
          <li><%= cl_image_tag current_user.photo, class: "avatar-small"%></li>
        </ul>
      </div>
</div>
