<div class="dashboard">
  <h2 class="text-align-left" style="margin-left:7%;font-weight: 500;"> Settings</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
  <div class= "family-dashboard">
    <h4>Families</h4>
    <% if @families.empty? %>
      <%= link_to 'Add a Family', families_coparent_path, class: 'btn btn-danger' %>
      <%= link_to 'Invite a Co-parent', new_family_path, class: 'btn btn-danger' %>
    <% else %>
      <div class="families" style="display: flex; overflow-x: auto;">
        <% @families.each do |family| %>
          <div class="children">
            <h5 class="text-center">
              <% if current_user == family.coparent %>
              <%= family.parent.first_name %>
              <% else %>
              <%= family.coparent.first_name %>
              <% end %>
            </h5>
            <% family.children.each do |child| %>
              <%= cl_image_tag child.photo, class: "avatar-medium"%>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class= "profile-dashboard" style="display: flex; justify-content: space-around;">
    <div>
      <h4>Profile</h4>
      <%= cl_image_tag current_user.photo, class: "avatar-medium" %>
      <%= link_to '<img src="https://img.icons8.com/ios/20/000000/edit.png"> Edit'.html_safe, edit_user_registration_path %>
    </div>
  </div>
</div>
