  <div class="kids">
  <h2 class="text-align-left" style="margin-left:7%;font-weight: 600;">New expense</h2>
  <div class="thin-div">
    <div class="large-div1">
    </div>
  </div>

  <div class= "family-dashboard1 form1">
    <%= form_for @expense, url: wizard_path, method: :put do |f| %>
    <h5>Description & Title</h5>
    <div class="thin-div-expense">
      <div class="large-div-expense">
      </div>
    </div>
    <div class="content-expenses">
      <p>Title:</p>
      <%= f.text_field :title%>
      <p>Description:</p>
      <%= f.text_field :description%>
    </div>
<%= link_to 'Skip', next_wizard_path, class: "ghost-button-btn-newfamily1" %>
    <%= f.submit "Next", class: "ghost-button-btn-newfamily1" %>
  </div>
  <% end %>

</div>


