  <div class="kids">
  <h2 class="text-align-left" style="margin-left:7%;font-weight: 600;">New expense</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
  <div class= "family-dashboard1 form1">
    <%= form_for @expense, url: wizard_path, method: :put do |f| %>
    <h5>Amount & Percentage</h5>
    <div class="thin-div-expense">
      <div class="large-div-expense">
      </div>
    </div>
    <div class="content-expenses">
      <p>Amount paid</p>
      <%= f.number_field :amount%>
      <p>Your percentage</p>
      <%= f.number_field :percentage %>
    </div>
<%= link_to 'Skip', next_wizard_path, class: "ghost-button-btn-newfamily1" %>
    <%= f.submit "Next", class: "ghost-button-btn-newfamily1" %>
  </div>
  <% end %>
</div>
