<div class="container">
  <h3 style="margin: 0;">New expense</h3>
  <div class= "family-dashboard">
    <%= form_for @expense, url: wizard_path, method: :put do |f| %>
    <h5>Description & Title</h5>
    <div class="thin-div-expense">
      <div class="large-div-expense">
      </div>
    </div>
    <div class="content-expenses">
      <p>Title:</p>
      <%= f.text_field :title%>
      <p>Description:</p>
      <%= f.text_field :description%>
    </div>
    <%= f.submit "Next", class: "ghost-button-btn-newfamily" %>
  </div>
  <% end %>

<%= link_to 'skip', next_wizard_path %>
</div>
