<div class="container">
  <h3 style="margin: 0;">New expense</h3>
  <div class= "family-dashboard">
    <%= form_for @expense, url: wizard_path, method: :put do |f| %>
    <h5>Amount & Percentage</h5>
    <div class="thin-div-expense">
      <div class="large-div-expense">
      </div>
    </div>
    <div class="content-expenses">
      <p>Amount paid</p>
      <%= f.number_field :amount%>
      <p>Your percentage</p>
      <%= f.number_field :percentage %>
    </div>
    <%= f.submit "Next", class: "ghost-button-btn-newfamily" %>
  </div>
  <% end %>

<%= link_to 'skip', next_wizard_path %>

</div>
