<%= link_to family_expense_path(@family, expense) do %>
  <div class="card-latest1">
    <div class="category1">

      <h4> <%= image_tag(category_icon(expense.category.name)) %></h4>
    </div>
    <div class="card-title1">
      <h4><%= expense.title.capitalize %></h4>
      <p><%= expense.date.strftime("%d/%m/%Y") %></p>
    </div>
    <div class="card-price">
      <%= humanized_money_with_symbol(expense.amount) %>
    </div>
    <ul class="card-avatar">
      <% expense.children.each do |child| %>
        <li><%= cl_image_tag child.photo, class: "avatar-small"%></li>
      <% end %>
    </ul>
  </div>
<% end %>
