<% content_for :title, "OurKids - Modify Expense" %>

<div class="kids">
  <h2 class="text-align-left" style="margin-left:30px;"></i>Edit expense</h2>
  <div class="thin-div">
    <div class="large-div">
    </div>
  </div>
</div>

<div class= "family-dashboard">
  <%= form_for [@family, @expense] do |f| %>
    <h5>Pick date</h5>
  <div class="thin-div-expense">
    <div class="large-div-expense">
    </div>
  </div>
  <div class="content-expenses">
    <%= f.date_field :date %>
  </div>

  <h5>Description & Title</h5>
  <div class="thin-div-expense">
    <div class="large-div-expense">
    </div>
  </div>
  <div class="content-expenses">
    <p>Title:</p>
    <%= f.text_field :title%>
    <p>Description:</p>
    <%= f.text_field :description%>
  </div>

  <h5>Upload a receipt</h5>
  <div class="thin-div-expense">
    <div class="large-div-expense">
    </div>
  </div>
  <div class="content-expenses">
    <%= f.file_field :receipt%>
    <%= f.hidden_field :receipt_cache%>
  </div>

  <h5>Amount & Percentage</h5>
  <div class="thin-div-expense">
    <div class="large-div-expense">
    </div>
  </div>
  <div class="content-expenses">
    <p>Amount</p>
    <%= f.number_field :amount_cents%>
    <p>Percentage</p>
    <%= f.number_field :percentage %>
  </div>

  <h5>Category</h5>
  <div class="thin-div-expense">
    <div class="large-div-expense">
    </div>
  </div>
  <div class="content-expenses">
    <%= f.collection_select :category, Category.order(:name),:id,:name, include_blank: '*leave blank if unchanged*' %>
    <p><%= f.submit :Submit, class: "ghost-button-btn-newfamily" %></p>
  </div>
  <% end %>
</div>
